---
import Layout from "@/layouts/Layout.astro";

const links: { href: string; text: string }[] = [
  {
    href: "/checkout",
    text: "Checkout",
  },
  {
    href: "/checkout/custom",
    text: "Custom Checkout",
  },
];
---

<Layout>
  <div class="py-20 px-10 flex flex-col items-center gap-10">
    {
      links.map((link) => (
        <a
          href={link.href}
          class="px-5 py-2.5 block w-max bg-blue-600 rounded shadow-lg text-white min-w-[300px] text-center"
        >
          {link.text}
        </a>
      ))
    }
  </div>
</Layout>
