---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="py-20 px-10 flex justify-center">
    <a
      href="/checkout"
      class="px-5 py-2 block w-max bg-blue-500 rounded shadow text-white"
      >Checkout</a
    >
  </div>
</Layout>
