---
import CustomCheckout from "@/components/checkout/CustomCheckout.tsx";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Stripe Custom Checkout">
  <div>
    <CustomCheckout client:load />
  </div>
</Layout>
