---
import ShopifyCustomCheckout from "@/components/checkout/ShopifyCustomCheckout";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Shopify Custom Checkout with Stripe">
  <div>
    <ShopifyCustomCheckout client:load />
  </div>
</Layout>
