---
import { site } from "@/constants/config";

interface Props {
  class?: string;
}
const { class: classes } = Astro.props;
---

<header class:list={["py-5 bg-white", classes]}>
  <nav class="max-w-[80vw] mx-auto flex items-center justify-center">
    <a href="/" class="font-bold text-xl">
      {site.name}
    </a>
  </nav>
</header>
